.container {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50rem;
  margin: auto 0;
}

.container > * {
  padding: 0;
}

input {
  padding: 0.4rem 0.8rem;
  width: 20rem;
}

.task {
  width: 100%;
  display: flex;
  gap: 1rem;
  list-style: none;
}
